body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Navbar*/
.navbar{
    display: flex ;
    max-width: 1140px;
    margin: 30px auto 120px auto;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    gap: 48px;
    margin: 18px 0 10px 0;
    align-items: center;
}

.nav-menu ul{
    padding: 0;
}

.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    font-size: 16px;
}

#home{
    color: #252432;
    font-weight: bold;
}

.about{
    color: #8987A1;
}

#cart {
    color: #000000;
}

#cart i{
    margin-right: 10px;
}

/*banner*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

.banner{
    display: flex;
    align-items: end;
    margin-bottom: 120px;
}

.banner-title{
    font-size: 4.0625rem;
    margin-bottom: 13px;
    margin-top: 0;
    font-weight: bold;
}

.banner-title span{
    color: #E95A08;
}

.banner-des{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.banner-right{
    margin-top: 100px;
}


/****Responsive Queary for Mobile Device*/
@media screen and (max-width: 556px) {
    
    .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 16px 28px 16px;
   }
   .nav-ul1, .nav-ul2, .nav-ul3{
    display: none;
   }

   .nav-ul4{
    margin: 0;
   }
   .nav-logo img{
    height: 38px ;
   }
   .nav-menu{
    margin: 10px 0 9px 0;
   }

   .banner{
    flex-direction: column-reverse;
   }

   .banner-right img{
    width: 100%;
   }

   .banner-title{
    font-size: 1.5rem;
    font-weight: bold;
    }
    .banner-des{
    font-size: 0.875rem;
    }

    .banner-left{
        margin: 28px 16px 65px 16px;
    }
}