body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Navbar*/
.navbar{
    display: flex ;
    max-width: 1140px;
    margin: 30px auto 120px auto;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    gap: 48px;
    margin: 18px 0 10px 0;
    align-items: center;
}

.nav-menu ul{
    padding: 0;
}

.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    font-size: 16px;
}

#home{
    color: #252432;
    font-weight: bold;
}

.about{
    color: #8987A1;
}

#cart {
    color: #000000;
}

#cart i{
    margin-right: 10px;
}

/*banner*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

.banner{
    display: flex;
    align-items: end;
    margin-bottom: 120px;
}

.banner-title{
    font-size: 4.0625rem;
    margin-bottom: 13px;
    margin-top: 0;
    font-weight: bold;
}

.banner-title span{
    color: #E95A08;
}

.banner-des{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.banner-right{
    margin-top: 100px;
}

/*Product Plant Section*/
.product-title{
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    margin: 30px 0 0 0;
}
.product-price{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin:20px 0 30px 0;
}

.add-cart{
    font-weight: 600;
    width: 100%;
    background-color: #E95A08;
    color: #ffffff;
    padding: 19px;
    border: none;
}

.plant-product-section{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-bottom: 210px;
}

.plant-section-title{
    text-align: center;
}

.plant-section-title h3{
    font-size: 2.27rem;
    font-weight: bold;
    color: #111111;
    margin: 0px;
}
.plant-section-title h3 span{
    color: #E95A08;
}

.plant-des{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 126px;
    margin: 16px 0 49px 0;
}

/****Responsive Queary for Mobile Device*/
@media screen and (max-width: 556px) {
    
    .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 16px 28px 16px;
   }
   .nav-ul1, .nav-ul2, .nav-ul3{
    display: none;
   }

   .nav-ul4{
    margin: 0;
   }
   .nav-logo img{
    height: 38px ;
   }
   .nav-menu{
    margin: 10px 0 9px 0;
   }

   .banner{
    flex-direction: column-reverse;
   }

   .banner-right img{
    width: 100%;
   }

   .banner-title{
    font-size: 1.5rem;
    font-weight: bold;
    }
    .banner-des{
    font-size: 0.875rem;
    }

    .banner-left{
        margin: 28px 16px 65px 16px;
    }


    .plant-section-title h3{
    font-size: 1.5rem;
    }

    .plant-des{
    font-size: 0.875rem;
    padding: 0 28px;
    margin: 16px 0 28px 0;
    }

    .product-title, .product-price, .add-cart{
        font-size: 1rem;
    }

    .product-card img{
        width: 100%;
    }
    .plant-product-section{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    margin-bottom: 41.5px;
    padding-left: 14px;
    padding-right: 17px;
    }
    .product-price{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin:0 0 30px 0;
}

}