*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Shared elements*/
.section-title{
    font-size: 3.125rem;
    font-weight: bold;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.max-width-1140{
    max-width: 1140px;
    margin: 0 auto;
}

/*Navbar*/
.navbar{
    display: flex ;
    max-width: 1140px;
    margin: 30px auto 120px auto;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    gap: 48px;
    margin: 18px 0 10px 0;
    align-items: center;
}

.nav-menu ul{
    padding: 0;
}

.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    font-size: 16px;
}

#home{
    color: #252432;
    font-weight: bold;
}

.about{
    color: #8987A1;
}

#cart {
    color: #000000;
}

#cart i{
    margin-right: 10px;
}

/*banner*/

.banner{
    display: flex;
    align-items: end;
    margin-bottom: 120px;
}

.banner-title{
    font-size: 4.0625rem;
    margin-bottom: 13px;
    margin-top: 0;
    font-weight: bold;
}

.banner-title span{
    color: #E95A08;
}

.banner-des{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.banner-right{
    margin-top: 100px;
}

/*Product Plant Section*/
.product-title{
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    margin: 30px 0 0 0;
}
.product-price{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin:20px 0 30px 0;
}

.add-cart{
    font-weight: 600;
    width: 100%;
    background-color: #E95A08;
    color: #ffffff;
    padding: 19px;
    border: none;
}

.plant-product-section{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-bottom: 210px;
}

.plant-section-title{
    text-align: center;
}

.plant-section-title h3{
    color: #111111;
    margin: 0px;
}
.plant-section-title h3 span{
    color: #E95A08;
}

.plant-des{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 126px;
    margin: 16px 0 49px 0;
}

/**Plant lover Section**/
.plant-lover-section{
    display: flex;
    gap: 60px;
    align-items: center;
}

.plant-lover-left{
    width: 100%;
}

.plant-lover-right-title{
    color: #000000;
}

.plant-lover-right ul{
    margin: 20px;
}

.plant-lover-right ul li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;

}

.trusted-badge{
    position: absolute;
    margin-left: 360px;
    margin-top: -130px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
    width: 285px;
}

/**Deals Section**/
.deals-section{
    margin-top: 130px;
    margin-bottom: 120px;
}

.deal-section-des{
    text-align: center;
}

.deal-section-des h3{
    color: #E95A08;
}

.deal-section-des h3 span{
    color: #000000;
}

.deal-section-des p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin: 16px 135px 120px 135px;
}

.deals-offer-section{
    display: grid;
    grid-template-columns: 0.33fr 0.66fr;
    column-gap: 28px;
}

.deals-left{
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: column;
    gap: 24px;
} 

.deals-right{
    width: 100%;

}

.deals-img1{
    height: 201px;
    background-image: url("./assets/deal-bloom.png");

}

.deals-img2{
    height: 197px;
    margin-top: 4px;
    background-image: url("./assets/deal-ana.png");
}


.deals-img3{
    height: 425px;
    background-image: url("./assets/deal-zabo.png");
}
.deals-img1, .deals-img2, .deals-img3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    text-align: center;
    color: #ffffff;
}

.deals-img1 p, .deals-img2 p {
    font-size: 1.25rem;
    font-weight: bold;
}

.deals-img3 p {
    font-size: 1.75rem;
    font-weight: bold;
}

.deals-img1 a, .deals-img2 a{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    padding-top: 19px;
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
}

.deals-img3 a{
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 600;
    padding-top: 15px;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
}


/***JOin Section***/
.join-section{
    background-image: url("./assets/news-letter-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    margin:0;
    width: 100vw;
}

.join-section div h3{
    text-align: center;
    padding: 0 120px;
}
.font-color-white{
    color: #ffffff;
}

.subscribe{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #E95A08;
    padding: 19px 53px;
    border: none;
}

.email{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 19px 20px;
    border: none;
    background-color: #ffffff;
    width: 100%;
    max-width: 640px;
}

.join-section-input{
    display: flex;
    margin-top: 23px;
}


/**Footer****/

footer{
    max-width: 1120px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 110px;
}

.footer-left img{
    margin-bottom: 16px;
}

.footer-left p{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer-ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-ul ul{
    list-style: none;
}

.footer-ul ul li a{
    text-decoration: none;
    color: #6B7280;
}

.social-icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
}

.twitter{
    max-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/****Responsive Queary for Mobile Device*/
@media screen and (max-width: 556px) {
    
    .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 16px 28px 16px;
   }
   .nav-ul1, .nav-ul2, .nav-ul3{
    display: none;
   }

   .nav-ul4{
    margin: 0;
   }
   .nav-logo img{
    height: 38px ;
   }
   .nav-menu{
    margin: 10px 0 9px 0;
   }

   .banner{
    flex-direction: column-reverse;
    margin-bottom: 0;
   }

   .banner-right{
    margin-top: 0;
   }

   .banner-right img{
    width: 100%;
   }

   .banner-title{
    font-size: 1.5rem;
    font-weight: bold;
    }
    .banner-des{
    font-size: 0.875rem;
    }

    .banner-left{
        margin: 28px 16px 65px 16px;
    }


    .plant-section-title h3{
    font-size: 1.5rem;
    }

    .plant-des{
    font-size: 0.875rem;
    padding: 0 28px;
    margin: 16px 0 28px 0;
    }

    .product-title, .product-price, .add-cart{
        font-size: 1rem;
    }

    .product-card img{
        width: 100%;
    }

    .plant-product-section{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    margin-bottom: 41.5px;
    padding-left: 14px;
    padding-right: 17px;
    }

    .product-price{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin:0 0 30px 0;
    }

    .trusted-badge{
        display: none;
    }

    .plant-lover-section{
        flex-direction: column;
        gap: 0;
        margin-left: 16px;
        margin-right: 16px;
        justify-content: center;
    }

    .plant-lover-left img{
        width: 100%;
    }

    .plant-lover-right-title br{
        display: none;
    }

    .plant-lover-right-title{
        font-size: 1.5rem;
        margin: 18px 0 16px 0;
    }

    .plant-lover-right ul li{
        font-size: 0.875rem;
    }


    .section-title{
        font-size: 1.5rem;
    }

    .deal-section-des p{
    font-size: 0.875rem;
    margin: 16px 28px 52px 28px;
    }

    .deals-offer-section{
    display: grid;
    grid-template-columns: 1fr;
    }

    .deals-left{
    gap: 20px;
    height: auto;
    } 

    .deals-right{
        margin-top: 20px;
    }

    .deals-img1, .deals-img2, .deals-img3{
    border-radius: 14px;
    width: calc(100% - 32px); /**can change*/
    height: 185px;
    margin: 0 auto; /*also this: 0 16px;*/ 
    background-size: cover;
    max-width: 375px;
    }

    .deals-img1 p, .deals-img2 p, .deals-img3 p{
    font-size: 1.25rem;
    }

    .deals-img3 a{
    font-size: 1rem;
    padding-top: 19px;
    border-bottom: 2px solid #ffffff;
    }

    .deals-section{
    margin-bottom: 40px;
    }

    .join-section{
        height: 275px;
    }
    
    .join-section div h3{
    text-align: center;
    padding: 0 40px;
    }
    .subscribe{
    padding: 19px 12px;
    }

    .email{
    font-size: 1rem;
    padding: 19px 20px;
    }

    footer{
    margin: 50px 14px;
    flex-direction: column;
    gap: 20px;
    }


    .footer-ul{
    gap: 26px;
    }

    .social-icon{
        max-width: 216px;
    }

    .footer-left img{
        height: 105px;
    }

    .footer-left p{
    font-size: 1rem;
    }

    .footer-left p br{
        display: none;
    }
}